

@if (!isLoading && cliente) {
    <mat-card class="card">
      <div class="card-header">
        <mat-card-title>
          Nombre del Estudiante:
          {{ cliente.nombres }}
          <mat-divider />
          Documento:
          {{ cliente.ci }}
        </mat-card-title>
      </div>
    
      <mat-card-content>
        <div class="row">
          <div class="card col">Usuario: {{ cliente.user_clie }}</div>
          <div class="card col">Contraseña: {{ cliente.password }}</div>
        </div>
        <div class="row">
          
          <div class="card col">Correo: {{ cliente.email }}</div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" routerLink="['/home']">
          <mat-icon>arrow_back</mat-icon>
          Regresar
        </button>
      </mat-card-actions>
    </mat-card>
    
    } @else {
    <ng-content>
      <app-spinner [mensaje]="mensaje" />
    </ng-content>
    }