<div class="welcome-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="text-center">
                Bienvenido a la Plataforma
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <p class="text-center">
                Estamos encantados de tenerte aquí.

            </p>
            <h2>A continuacion podrás revisar el horario de tu sector</h2>
            <label>
                Nombre:

            </label>
            <br>
            <label>
                Apellido:
            </label>
            <br>
            <label>
                Sector:
            </label>

            <p>Aqui va ir el mapa</p>


        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="warn" (click)="cerrarSesion()">Cerrar Sesión</button>
        </mat-card-actions>
    </mat-card>
</div>