<div class="card border-success shadow-lg container-fluid">
  <div class="card-header">
    <h4 class="card-title text-center">Listado De Sectores</h4>

    <div class="button-group">
      <!-- Botón para Crear Nuevo -->
      <button mat-flat-button [routerLink]="['/nuevoSector']" color="primary" class="action-button">
        <mat-icon>add</mat-icon>
        Crear Nuevo
      </button>

      <!-- Botón para ir al Inicio -->
      <button mat-flat-button [routerLink]="['/']" color="accent" class="action-button">
        <mat-icon>home</mat-icon>
        Inicio
      </button>
    </div>

  </div>

  <div *ngIf="isLoading(); else listadoSectores">
    <app-spinner [mensaje]="mensaje"></app-spinner>
  </div>

  <ng-template #listadoSectores>
    <div class="card-body">
      <h3 class="text-center text-black" *ngIf="sectores().length > 0; else sinSectores">
        <strong>Hay un total de {{ sectores().length }} sectores</strong>
      </h3>

      <div class="row">
        <div class="col-3" *ngFor="let sector of sectores(); trackBy: trackBySector">
          <app-sector-card [sector]="sector" (wasRemove)="wasDelete($event)"></app-sector-card>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #sinSectores>
    <p class="text-center text-muted">No hay sectores disponibles.</p>
  </ng-template>
</div>