
<div class="card border-success shadow-lg container-fluid">
    <div class="card-header">
      <h4 class="card-title text-center">Listado De Clientes</h4>
  
      <div class="d-grid gap-2">
        <button mat-flat-button [routerLink]="['/nuevo']" class="btn btn-primary">
          Crear Nuevo
        </button>
      </div>
    </div>
  
    @if (isLoading()) {
    <app-spinner [mensaje]="mensaje" />
    } @else {
    <div class="card-body">
      <h3 class="text-center text-black">
        @if (clientes().length>0 ) {
        <strong> Hay un total de {{ clientes().length }} clientes </strong>
        }
      </h3>
    </div>
    <div class="row">
      @for (cliente of clientes(); track cliente.id_clie) {
      <div class="col-3">
        <app-cliente-card
          [cliente]="cliente"
          (wasRemove)="wasDelete($event)"
        />
      </div>
      }
    </div>
    }
  
  </div>
